.body--dark {
  .default-table .q-table tbody tr:nth-child(even),
  .default-table .q-table tbody tr:nth-child(even) td:first-child,
  .default-table .q-table tbody tr:nth-child(even) td:last-child {
    background-color: var(--bg-even-dark);
  }
  .default-table .q-table tbody tr:nth-child(odd),
  .default-table .q-table tbody tr:nth-child(odd) td:first-child,
  .default-table .q-table tbody tr:nth-child(odd) td:last-child {
    background-color: var(--bg-odd-dark);
  }

  header {
    background-color: var(--bg-headers-dark) !important;
    color: var(--text-headers-dark) !important;
  }

  .q-drawer-container > aside {
    background-color: var(--bg-menu-dark) !important;
    color: var(--text-menu-dark) !important;
  }
  .q-drawer-container .q-item__section--side {
    color: var(--text-menu-dark) !important;
  }
  aside .menu-avatar {
    background-color: var(--bg-menu-avatar-dark);
  }
  .q-layout__shadow:after {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.24), 0 0px 10px rgba(0, 0, 0, 0.2) !important;
  }
  .q-card--dark {
    border-color: rgba(255, 255, 255, 0.28);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12);
  }
}
